* {
  box-sizing: border-box;
}

.page {
  font-family: $main-font;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

// section REVOLUTIONARY EDITOR
.app-text {
  padding-top: 51px;
  color: $grey-text;
  font-size: 14px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-wrapper--center {
  justify-content: center;
}

.about {
  text-align: center;
  padding-bottom: 88px;
  &__tittle {
    color: $btn-bg;
    font-size: 26px;
    font-weight: 700;
    margin: 120px 0 24px;
    line-height: 50px;
    text-transform: uppercase;
  }

  &__description {
    font-family: $main-font;
    color: $black-color;
    font-size: 14px;
    text-align: center;
    @include width80;
    margin-bottom: 35px;
  }
  &__github-link {
    font-size: 12px;
    font-weight: 700;
    color: $black-color;
    padding: 6px 10px;
    border: 1px solid #d6d6d6;
    background: #f3f3f3;
    border-right: 0;
    border-radius: 2px;
  }
  &__github-link_text {
    margin-left: 6px;
  }

  &__github-link_count {
    font-size: 12px;
    font-weight: 700;
    padding: 8px 10px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    margin-right: 15px;
    color: $black-color;
  }
  &__github-links-container {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: #{($landscape-mobile-normal)}) {
  .about__tittle {
    font-size: 42px;
  }
  .about__description {
    font-size: 16px;
  }
}

@media screen and (min-width: #{($landscape-tablet)}) {
  .about__tittle {
    font-size: 54px;
  }
  .about__description {
    font-size: 16px;
  }
}

// section REVOLUTIONARY EDITOR TOOLS

.tools {
  background-color: rgb(244, 244, 244);

  &__flex-body {
    position: relative;
    width: 100%;
  }

  &__title {
    padding-top: 20px;
  }

  &__text {
    font-family: $main-font;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    color: #8d81ac;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }

  &__item {
    text-align: center;
    padding-top: 34px;
  }

  &__item-title {
    font-family: $main-font;
    color: #323232;
    font-size: 16px;
    padding-top: 22px;
  }

  &__item-text {
    font-family: $main-font;
    color: #848e97;
    font-size: 14px;
    line-height: 15px;
    padding-top: 16px;
  }

  &__editor {
    padding-bottom: 390px;
    position: relative;
    right: -10px;
  }
}

@media screen and (min-width: #{($landscape-mobile-normal)}) {
  .tools {
    &__text {
      font-size: 46px;
    }

    &__item {
      padding-top: 46px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
        padding: 0;
      }

      &-body {
        text-align: left;
      }

      &-text {
        padding-top: 21px;
      }
    }

    &__img {
      &-search {
        height: 64px;
        padding-left: 26px;
        padding-right: 24px;
      }

      &-speed {
        height: 80px;
        padding-left: 27px;
        padding-right: 44px;
      }

      &-experimental {
        height: 84px;
        padding-left: 42px;
        padding-right: 59px;
      }

      &-watch {
        height: 71px;
        padding-left: 32px;
        padding-right: 57px;
      }
    }

    &__editor {
      padding-bottom: 525px;
    }
  }
}

@media screen and (min-width: #{($landscape-tablet)}) {
  .tools {
    &__title {
      position: absolute;
      right: 0;
    }
    &__flex-body {
      padding-top: 40px;
    }

    &__text {
      font-size: 44px;
    }

    &__list {
      width: 40%;
      padding-bottom: 60px;
    }

    &__item {
      padding-top: 37px;
    }

    &__item-text {
      padding-top: 17px;
    }
    &__editor {
      position: absolute;
      top: 116px;
      right: -10;
    }

    &__editor-img {
      background-position: 126px -20px;
      height: 455px;
    }
  }
}

.tools__editor-img {
  background-image: url(../img/tools/editor.png);
  background-repeat: no-repeat;
  width: 290px;
  min-height: 497px;
  position: absolute;
  right: 0;
}

@media screen and (min-width: #{($landscape-mobile-normal)}) {
  .tools {
    &-img {
      background-image: url(../img/tools/editor_480.png);
      width: 460px;
      height: 510px;
    }
  }
}

@media screen and (min-width: #{($landscape-mobile-big)}) {
  .tools {
    &__editor-img {
      background-image: url(../img/tools/editor_768.png);
      width: 700px;
    }
  }
}

// pricing section !!!

.pricing {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-style: normal;
  font-style: normal;

  @media (min-width: 320px) {
    background-image: url(../img/layer.png);
  }
  @media (min-width: 481px) {
    background-image: url(../img/layer.png);
  }
  @media (min-width: 993px) {
    background-image: url(../img/layer.png);
  }
}

.pricing {
  // background-image: url(../img/layer.png);
  // background-size:cover;
  // text-align: center;
  // padding-bottom: 97px;

  &__title {
    padding: 50px 0;
    color: $white-text;
    font-size: 36px;
    font-weight: 700;
  }
  &__item_title {
    background: rgba(255, 255, 255, 0.06);
    padding: 46px 0 34px;
    color: $white-text;
    font-size: 24px;
    text-transform: uppercase;
  }
  &__item_title-active {
    background: #392a3a;
  }
  &__item_price {
    color: $white-text;
    font-size: 60px;
    font-weight: 700;
    padding: 32px 0 24px;
  }
  &__item_line {
    background: #8d81ac;
    height: 5px;
    width: 60px;
    margin-bottom: 31px;
  }
  &__item_per-month {
    text-transform: uppercase;
    font-size: 14px;
    color: #8e8290;
    position: relative;
    padding-bottom: 40px;
  }

  &__item_description {
    color: $white-text;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 37px;
  }
  &__item_description-mod {
    margin-bottom: 68px;
  }
  &__item {
    max-width: 257px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
  }

  &__item_bg-wrapper {
    @include flex-colum;
    align-items: center;
    background: #5d4d60;
  }
  &__item_bg-wrapper-active {
    background: #403042;
  }
  &__item_btn-mod {
    color: $white-text;
    margin-bottom: 47px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.15);
    border: 0;
    padding: 15px 37px;
  }
  &__item_btn-mod:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #7f6d78;
  }
  &__item:nth-child(3) {
    max-width: 300px;
    height: 560px;
  }
  &__item_description-active {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: #{($landscape-mobile-normal)}) {
  .pricing {
    &__title {
      font-size: 42px;
    }
  }
}

@media screen and (min-width: #{($landscape-mobile-big)}) {
  .pricing {
    &__item {
      margin: 0 auto 30px;
    }
  }
}

@media screen and (min-width: #{($landscape-tablet)}) {
  .pricing {
    &__title {
      font-size: 48px;
    }
  }
}
